h1 {
    color: rgb(127, 165, 255);
    

}

.button{
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
    margin: 4px;
}

#grey{
    background-color: grey;
    
}
#white{
    background-color: white;
}
#blue{
    background-color: blue;

}

#yellow{
    background-color: yellow;
}

.canvas{
    text-align: center;
    padding-top: 20px;
    margin: 10px;
    

}